*{
   margin: 2px;
   padding: 2px;
   box-sizing: border-box;
}

body{
    display: flex;
    height: 95vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(93 79 173);
    margin-top: 2px;
    padding-top: 2px;
}

#tetris{
    background-color: white;
    box-shadow: 0 0 10px 2px lightgrey;
}
h2{
    font-size: xxx-large;
    font-weight: 800;
}
